{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Auto Scaller</h1>
    <table class="table table-bordered">
	<caption>Current Deploy</caption>   <h3>Current Worker {{ worker }}</h3>
	<thead>
		<tr>
			<th>Item</th>
			<th>Max</th>
			<th>Min</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Worker Pool</td>
			<td>{{ config["max_worker"] }}</td>
			<td>{{ config["min_worker"] }}</td>
		</tr>
		<tr>
			<td>CPU Threshold</td>
			<td>{{ config["cpu_up_threshold"] }}</td>
			<td>{{ config["cpu_down_threshold"] }}</td>
		</tr>
		<tr>
			<td>Scaling Ratio</td>
			<td>{{ config["extend_ratio"] }}</td>
			<td>{{ config["shrink_ratio"] }}</td>
		</tr>
	    <tr>
			<td>Cooling Time</td>
			<td>{{ config["cooling_time"] }}</td>
		</tr>
	</tbody>
</table>
<li class="btn btn-default btn-lg"><a href="{{ url_for('expand_pool') }}">add Max Worker</a></li>
<li class="btn btn-default btn-lg"><a href="{{ url_for('shrink_pool') }}">reduce Max Worker</a></li>

<li class="btn btn-default btn-lg"><a href="{{ url_for('autoscaller_config') }}">change config</a></li>


{% endblock %}