<!DOCTYPE html>
<html>
    <head>
<!--        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>-->
<!--        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>-->
<!--        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.min.js') }}"></script>-->
        <title>{{title}}</title>

    </head>
<!--     {% with messages = get_flashed_messages(with_categories=true) %}-->
<!--        {% if messages %}-->
<!--                {% for category, message in messages %}-->
<!--                    <div class="alert alert-{{ category }}" style="text-align: center;width: 100%; color: red; margin-bottom: 5px;">-->

<!--                            <strong>{{ message }}</strong>>-->
<!--                    </div>-->
<!--                {% endfor %}-->
<!--        {% endif %}-->
<!--    {% endwith %}-->



{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                    {% if session['loggedin'] %}
                    <a class="navbar-brand" href="{{ url_for('ec2_list') }}">Worker Detail</a>
                    <a class="navbar-brand" href="{{ url_for('autoscaling') }}">Auto Scaller</a>
                    {% endif %}
            </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session['loggedin'] %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
    </nav>
{% endblock %}

    {% block scripts %}
    {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="text-align: center;width: 100%; color: red; margin-bottom: 5px;">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>>
                            <strong>{{ message }}</strong>>
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

