{% extends "base.html" %}
{% block content %}

    <ul>
        <li><a href="{{url_for('ec2_list')}}">EC2 Examples</a></li>
        <li><a href="{{url_for('s3_list')}}">S3 Examples</a></li>
    </ul>
    <br>
    <a href="http://ece1779a2-369707435.us-east-1.elb.amazonaws.com/" style="padding-left:30px">Link to load balanced user app </a>
    <br>
    <br>
    <br>
    <div style="padding-left:30px">

         <form action="{{url_for('WorkerNumberGraph')}}" method="POST" >
            <input type="submit" value="view number of workers graph">
        </form>
    </div>
{% endblock %}
