{% extends "base.html" %}
{% block content %}

    <div id="worker_plot" style="width:300px;height:150px"></div>

    <script>
        async function get_Worker_Data () {
            const url = '/get_worker_number';
            const response = await fetch(url);
            return response.json()
        }
        var options = {
            series: {
                lines: { show: true },
                points: { show: true }
            }
        };

        get_Worker_Data().then(res => {
            let r = res.data;
            $.plot($("#worker_plot"), [ r ]  , options);})

    </script>

{% endblock %}